body {
    margin: 0px;
    padding: 0px;
}

.body {
    background: rgb(13, 14, 28);
    color: white;
}

.form-container {
    height: 80%;
    display: grid;
    place-items: center;
}

.navbar-gradient {
    background: linear-gradient(90deg, #4b6cb7, #182848);
}