body{
    margin: 0px;
    padding: 0px;
}
.body{
    background: rgb(13, 14, 28);
    color: white;
}
.principal{
    display: grid;
    place-items: center;
}
header{
    background: #052c6a;
}
footer{
    background: #052c6a;
}